   <!DOCTYPE html>
<html>

     {% include "head.html" %}

  <body>
    <div class="page form-page">



     {% include "header.html" %}





      <div class="page-content d-flex align-items-stretch"> 
 

       {% include "sidenav.html" %}



        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Pagos</h2>
            </div>
          </header>

          <!-- <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="/pagos">pagoss</a></li>
              <li class="breadcrumb-item active"><a href="/ventas">ventas</li>
            </div>
          </ul>
  -->
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">


             
                <!-- Form Elements -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="/static/#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="/static/#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Nueva compra para : {{p.nombre}} {{p.id}}</h3>
                    </div>
                    <div class="card-body">



                        <form class="form-horizontal" action="/guardapagos/" method="post">


                        {% csrf_token %}




                        {% for field in form %}


                          <div class="form-group row">
                              

                              <div class="col-sm-3 form-control-label">{{ field.label_tag }}</div>

                              <div class="col-sm-9">{{ field.errors }} {{ field }}

                              {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                              {% endif %}

                              </div>
                               
                              
                              
                          </div>


                       {% endfor %}
                <center>

<button type="submit" class="btn btn-primary">Guardar</button>
</center>
<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
            
            </div>
          </header>


          <ul class="breadcrumb">
            <div class="container-fluid">
       
            </div>
          </ul>
        <br>
 
          <!-- Forms Section-->
          <section class="forms"> 
            <div class="container-fluid">
              <div class="row">

       
             
                <!-- Form Elements -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="/static/#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="/static/#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                   
                    <div class="card-body">

                        <div class="line"></div>
                        <div class="form-group row">
                          <div class="col-sm-4 offset-sm-3">
                            
                            
                           
                          </div>
                        </div>


                  <div class="col-lg-12 col-md-12" >
                            <div class="recent-activities card ">
                              <div class="card-close">
                                <div class="dropdown">
                                  <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                  <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                </div>
                              </div>
                              <div class="card-header">
                                <h3 class="h4">Historial de Venta de {{p.nombre}}</h3>
                              </div>
                              <div class="card-body no-padding">


                          
              {% for p in pagitos %}

 <!-- FORMULARIOS DE  LA TABLA VENTAS . TOTAL,  PAAGO , COBRO ETC -->
                   <div class="project" >
                <div class="row bg-white ">
                  <div class="left-col col-lg-7 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image "><img src="{{p.foto}}" alt="..." class="img-fluid"></div>
                      <div class="text">
                       <small>N° de Venta</small > <h5 id="myBtn" >
                       <a >{{p.id}} </a></h5>
                      </div>

                    </div>
                   


                      <div class="project-title d-flex align-items-center">
                   
                      <div class="text">
                        <small>Total</small> <h5>{{p.total}}</h5>
                        
                      </div>
                      
                    </div>
                 
                  <div class="project-title d-flex align-items-center">
                   
                      <div class="text">
                        <small>Cobranza</small> <h5>{{p.pago}}</h5>
                      </div>
                      
                    </div>      
                    
                    <div class="project-title d-flex align-items-center">
                   
                      <div class="text">
                        <small>Saldo</small> <h5>{{p.saldo}}</h5>
                     
                      </div>
                      
                    </div>

                

                  </div>
                  <div class="right-col col-lg-5 d-flex align-items-center">
                  
                





                     <!--  
                      <a href="/pagos/{{p.id}}" class="btn btn-primary btn-sm">Ve {{p.id}}</a> -->
                          
                            
</div>

                  </div>
                </div>
    
<!--FINN  FORMULARIOS DE  LA TABLA VENTAS . TOTAL,  PAAGO , COBRO ETC -->
        
                               <!--  <div class="item">
                                  <div class="row">
                                    <div class="col-4 date-holder text-right">
                                      <div class="icon"><i class="icon-clock"></i></div>
                                      <div class="date"> <span>{{p.cantidad}}&nbsp {{p.precio}}</span><span class="text-info"></span></div>
                                    </div>
                                    <div class="col-8 content">
                                      <h5>{{p.precio}}</h5>

                                      <p>{{p.descuento}}</p>
                                    </div>
                                  </div>
                                </div> -->


                                 {% endfor %}
                                  
                              </div>
                            </div>
                          </div>




                        </div>
                      </div>
                    </section>
                </div>


</form>


         {% include "footer.html" %}
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"> </script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/front.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>


  